<main>
  <div class="banner">
    <div class="container">
      <h1 class="banner__heading">The easiest way to sell online in India</h1>
      <p class="banner__para">
        Try one of the most powerful platforms on the market for free. No
        technical knowledge needed.
      </p>
      <div class="input__group">
        <input
          type="email"
          class="input"
          placeholder="Enter your email address"
        />
        <button class="btn btn__primary">Try for free</button>
      </div>
      <span>
        Try Shopify free for 14 days, no credit card required. By entering your
        email, you aggre to receive marketing emails from Shopify
      </span>
    </div>
    <img src="./images/banner.png" class="banner__img" />
  </div>
</main>
