<section class="contact">
  <div class="container">
    <div class="contact__info">
      <h3>Get the help you need, every step of the way</h3>
      <div class="contact__cards">
        <div class="mini__card">
          <h5>Shopify support</h5>
          <p>
            Contact support 24/7, whether you're troubleshooting issues or
            looking fo business advice.
          </p>
          <a href="#" class="link link__primary online__business__link"
            >Contact support <span class="link_style">&#10132;</span></a
          >
        </div>
        <div class="mini__card">
          <h5>Shopify App Store</h5>
          <p>
            Add features and functionality to your business with 6,000+ apps
            that integrate directly with Shopify.
          </p>
          <a href="#" class="link link__primary online__business__link"
            >Visit the Shopify App Store
            <span class="link_style">&#10132;</span></a
          >
        </div>
        <div class="mini__card">
          <h5>Shopify Experts Marketplace</h5>
          <p>
            Hire a Shopify expert to help you with everything from store setup
            to SEO.
          </p>
          <a href="#" class="link link__primary online__business__link"
            >Explore the Shopify Experts Marketplace
            <span class="link_style">&#10132;</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <img src="./images/help@desktop.webp" alt="" />
</section>
