<div class="empowering container">
    <div class="header">
      <h2 class="empowering__header">
        Empowering independent business owners everywhere
      </h2>
      <p class="empowering__para">
        Millions of businesses in
        <b> 175 countries</b> around the world have made over
        <b> $496 billion USD </b> in sales using Shopify.
      </p>
      <a href="#" class="link link__primary online__business__link"
        >Learn more about Shopify <span class="link_style">&#10132;</span></a
      >
    </div>
    <div class="empowering__testimonial">
      <img src="./images/alicia-souza-testimonial@desktop.jpg" alt="#" />

      <div class="testimonial__info">
        <p>
          "Shopify was my knight in shining armor when i exhausted every other
          possibility of getting my online store up and running.. It was
          stunningly easy to use, with more features and plug-ins that i
          didn't even know i wanted"
        </p>
        <img
          class="testimonial__small"
          src="./images/logo-alicia-souza-small.webp"
          alt=""
        />
        <div class="card__name">Alicia I Alicia Souza</div>
      </div>
    </div>
    <div class="empowering__flex">
      <img src="./images/bajaao-small.webp" />
      <img src="./images/johnjacobs-small.webp" />
      <img src="./images/kylie-small.jpg" />
      <img src="./images/nush-small.webp" />
      <img src="./images/yogabar-small.webp" />
      <img
        src="./images/starstruck-small-6d49ff528f3ef3217015f906a1ece473e2559688669d00e2b88e7be4f65ce3bf.webp"
      />
      <img src="./images/mcaffeine-small.webp" />
    </div>
  </div>