<section class="explore">
  <div class="container">
    <header>
      <h3>With you wherever you're going.</h3>
      <p class="explore__heading__text">
        One platform ith all the ecommerce and point of sale features you need
        to start, run, and grow your business.
      </p>
    </header>
    <div class="explore__card card__one">
      <div class="explore__info">
        <h3>Sell everywhere</h3>
        <p class="online__para">
          Use one platform to sell products to anyone, anywhere-in person with
          Point of Sale and online through your website, social media, and
          online marketplaces.
        </p>
        <a href="#" class="link link__primary online__business__link"
          >Explore ways to sell <span class="link_style">&#10132;</span></a
        >
      </div>
      <video
        src="./images/sell-animation-desktop.mp4"
        autoplay
        controls
        loop
      ></video>
    </div>
    <div class="explore__card card__two">
      <div class="explore__info">
        <h3>Market your business</h3>
        <p class="online__para">
          Take the quesswork out of marketing with built-in tools that help you
          create, execute, and analyze digital marketing campaigns.
        </p>
        <a href="#" class="link link__primary online__business__link"
          >Explore how to market your business
          <span class="link_style">&#10132;</span></a
        >
      </div>
      <img src="./images/market-small.webp" />
    </div>
    <div class="explore__card card__three">
      <div class="explore__info">
        <h3>Manage everything</h3>
        <p class="online__para">
          Gain the insights you need to grow-use a single dashboard to manage
          orders, shipping, and payments anywhere you go.
        </p>
        <a href="#" class="link link__primary online__business__link"
          >Explore how to manage your business
          <span class="link_style">&#10132;</span></a
        >
      </div>
      <img src="./images/sales.png" alt="" />
    </div>
  </div>
</section>
