<footer class="footer">
  <div class="container">
    <header class="footer__header">
      <a href="#" class="link link__secondary">About</a>
      <a href="#" class="link link__secondary">Careers</a>
      <a href="#" class="link link__secondary">Press and Media</a>
      <a href="#" class="link link__secondary">Shopify Plus</a>
      <a href="#" class="link link__secondary">Sitemap</a>
    </header>
    <div class="footer__body">
      <div class="online__store">
        <p class="capital__highlight">online store</p>
        <ul class="list">
          <div>
            <li class="list__item">
              <a href="" class="list__item">Sell online</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Features</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Examples</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Website builder</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Online retail</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Ecommerce website</a>
            </li>
          </div>
          <div>
            <li class="list__item">
              <a href="" class="list__item"> Domain names</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Themes</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Shopping cart</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Ecommerce hosting</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Mobile commerce</a>
            </li>
          </div>
          <div>
            <li class="list__item">
              <a href="" class="list__item">Ecommerce software</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Online store builder</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Dropshipping Business</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Store themes</a>
            </li>
          </div>
        </ul>
      </div>
      <div class="footer__others">
        <div class="point__of__sale">
          <p class="capital__highlight">point of sale</p>
          <ul class="list">
            <li class="list__item">
              <a href="" class="list__item">Point of sale</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Features</a>
            </li>
          </ul>
        </div>
        <div class="support">
          <p class="capital__highlight">Support</p>
          <ul class="list">
            <li class="list__item">
              <a href="" class="list__item">24/7 support</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Shopify Help Center</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Shopify Community</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">API documentation</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Free tools</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Free stock photos</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Websites for sales</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Logo Maker</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Business name generator</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Research</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Legal</a>
            </li>
          </ul>
        </div>
        <div class="shopify">
          <p class="capital__highlight">shopify</p>
          <ul class="list">
            <li class="list__item">
              <a href="" class="list__item">Contact</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Partner program</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Affiliate program</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">App developers</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Investors</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Blog topics</a>
            </li>
            <li class="list__item">
              <a href="" class="list__item">Community Events</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__foot">
    <div class="container">
      <div class="social__media">
        <i class="icon fa fa-facebook"></i>
        <i class="icon fa fa-twitter"></i>
        <i class="icon fa fa-youtube"></i>
        <i class="icon fa fa-instagram"></i>
        <i class="icon fa fa-linkedin-in"></i>
        <i class="icon fa fa-pinterest"></i>
      </div>
      <div class="copyright">
        <div class="policy">
          <a href="">Terms of Service </a>
          <a href="">Privacy Policy</a>
        </div>
        <div class="countries">
          <i class="icon fal fa-globe"><i class="icon fa fa-instagram"></i></i>
          <select name="country" id="country">
            <option value="country">India</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</footer>
