<a href="#" class="link link__primary"
  >Explore ways to sell <span class="link_style">&#10132;</span></a
>
<a href="#" class="link link__secondary"
  >Explore more examples <span class="link_style">&#10132;</span></a
>
<a href="#" class="link link__primary"
  >Explore ways to sell <span class="link_style">&#10132;</span></a
>
<a href="#" class="link link__secondary"
  >Explore more examples <span class="link_style">&#10132;</span></a
>
<a href="#" class="link link__tertiary"
  >Back to top <span class="link_style">&#9650;</span></a
>
