<article class="online__business">
  <div class="container">
    <header>
      <h3>Bring your business online</h3>
      <p class="online__para">
        Create an ecommerce website backed by powerful tools that help you find
        customers, drive sales, and manage your day-to-day business.
      </p>
      <a href="#" class="link link__secondary online__business__link"
        >Explore more examples <span class="link_style">&#10132;</span></a
      >
    </header>
    <div class="card__container">
      <div class="card">
        <img src="./images/tokai.jpg" alt="#" />
        <a class="link" href="#">
          <p class="capital__highlight">FOOD & DRINK</p>
          <div class="card__name">Blue Tokai</div>
        </a>
      </div>
      <div class="card">
        <img src="./images/quirksmith.webp" alt="#" />
        <a class="link" href="#">
          <p class="capital__highlight">Jewellery</p>
          <div class="card__name">Quirksmith</div>
        </a>
      </div>
      <div class="card">
        <img src="./images/crossbeats.webp" alt="#" />
        <a class="link" href="#">
          <p class="capital__highlight">Electronics</p>
          <div class="card__name">Crossbeats</div>
        </a>
      </div>
      <div class="card">
        <img src="./images/mcaffeine.webp" alt="#" />
        <a class="link" href="#">
          <p class="capital__highlight">Beauty</p>
          <div class="card__name">Mcaffeine</div>
        </a>
      </div>
      <div class="card display__hidden">
        <img src="./images/bunaai.webp" alt="#" />
        <a class="link" href="#">
          <p class="capital__highlight">Fashion</p>
          <div class="card__name">Bunaai</div>
        </a>
      </div>
    </div>
    <div class="forward__path">
      <h4 class="forward__heading">Take the best path forward</h4>
      <div class="forward__container">
        <div class="forward__card">
          <i class="icon far fa-browser"></i>
          <p class="forward__card__heading">Start an online business</p>
          <p>
            Create a business, whether you've got a fresh idea or are looking
            for a new way to make money.
          </p>
        </div>
        <div class="forward__card">
          <i class="icon far fa-store"></i>
          <p class="forward__card__heading">Move your business online</p>
          <p>
            Turn your retail store into an online store and keep serving
            customers without missing a beat.
          </p>
        </div>
        <div class="forward__card">
          <i class="icon far fa-warehouse"></i>
          <p class="forward__card__heading">Switch to Shopify</p>
          <p>
            Bring your business to Shopify, no matter which ecommerce platform
            you're currently using.
          </p>
        </div>
        <div class="forward__card">
          <i class="icon far fa-user-friends"></i>
          <p class="forward__card__heading">Hire a Shopify expert</p>
          <p>
            Get set up with the help of a trusted freelancer or agency from the
            Shopify Experts Marketplace.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
