<div class="start">
  <div class="container">
    <h4 class="start__header">Explore more from Shopify in India</h4>
    <div class="start__card">
      <img src="./images/help@desktop.webp" alt="" />
      <div class="start__info container">
        <span class="start__info__header capital__highlight">START</span>
        <h4>Launch your store with the help of a Shopify Expert</h4>
        <p>
          Find hundreds of experts from India ready to help you get your store
          up and running. from choosing a theme to building a afully customized
          site.
        </p>
        <a href="#" class="link link__primary online__business__link"
          >Browse Experts in India <span class="link_style">&#10132;</span></a
        >
      </div>
    </div>
  </div>
</div>
